
<div class="store-setting-right">
  <h3>All Stores</h3>
  <p>Below is the list of all registered stores with their linked territories.</p>
  <div class="d-flex justify-content-between align-items-center mb-1">

    <input type="text" class="form-control w-25 " placeholder="Search Store..." [(ngModel)]="searchTerm"
      (input)="onSearchChange()" />

    <div *ngIf="user?.StoreId=='0'" class="d-flex justify-content-end mb-2">
      <button class="common-btn mt-4 border-0" (click)="navigateToAddStore()">
        <img src="assets/images/orange-arrow-right.png" alt="Arrow Right" class="img-fluid" />
        <p class="text-white m-0">
          Add Store
        </p>
      </button>
    </div>
  </div>
  <span></span>

  <div class="table-responsive">
    <table class="table table-bordered m-0 text-center">
      <thead class="table-light">
        <tr>
          <th class="text-center">Store</th>
          <th class="text-center">Territory</th>
          <th class="text-center">Delivery Days</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let store of stores">
          <!-- Store Name -->
          <td >{{ store.storeName }}</td>

          <!-- Territory Name -->
          <td class="text-start">{{ store.territoryName }}</td>

          <!-- Delivery Days -->
          <td class="text-start">
            {{ getTerritoryDays(store) }}
          </td>

          <!-- Status -->
          <td class="text-center">
            <label class="custom-switch">
              <input type="checkbox" [checked]="store.isActive" (change)="toggleActive(store)" />
              <span class="slider"></span>
            </label>
          </td>

          <!-- Actions -->
          <td class="text-center">
            <button matTooltipPosition="above" mat-raised-button matTooltip="Edit Store"  class="btn btn-sm me-2 border-0" (click)="onUpdateStore(store.storeId)">
              <i class="bi bi-pencil"></i>
            </button>
            <button  matTooltipPosition="above" mat-raised-button matTooltip="Delete Store" class="btn btn-sm border-0" data-bs-toggle="modal" data-bs-target="#confirmationModal"
              (click)="setSelectedStore(store)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination [totalItems]="totalRecords" [itemsPerPage]="pageSize" [currentPage]="page"
      (pageChanged)="onPageChanged($event)" (pageSizeChanged)="onPageSizeChange($event)"></app-pagination>
  </div>
</div>

<!-- Confirmation Modal -->
<app-confirmation-modal [title]="'Delete Store'"
  [message]="'Are you sure you want to delete ' + selectedStore?.storeName + '?'" [confirmText]="'Delete'"
  [cancelText]="'Cancel'" (confirmed)="handleDelete($event)">
</app-confirmation-modal>