.no-orders{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #777;
}
.view-btn {
  background-color: #795f73;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.view-btn:hover {
  background-color: #795f73;
  color: #fff;
  box-shadow: 0 2px 6px rgba(13, 110, 253, 0.3);
}
