<section class="tobacco-order">
  <div class="container text-center">
    <div class="d-flex justify-content-center align-items-center flex-column" style="min-height:60vh;">
      
      <div class="text-center mb-4">
  <!-- Example with Lock -->
  <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-lock " style="color: #795f73;" viewBox="0 0 16 16">
    <path d="M8 1a4 4 0 0 0-4 4v3h8V5a4 4 0 0 0-4-4zM3 5a5 5 0 1 1 10 0v3a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2V5z"/>
  </svg>
</div>


      <h2 class="mb-3 " style="color: #795f73;">Unauthorized Access</h2>
      <p class="mb-4">
        You do not have permission to view this page.<br>
        Please contact your administrator.
      </p>

      <button class="common-btn" [routerLink]="['/dashboard/home']">
        <img src="assets/images/orange-arrow-right.png" alt="Arrow Right" class="img-fluid">
        <p class="text-white m-0">Back to Dashboard</p>
      </button>
    </div>
  </div>
</section>
