.custom-modal-md {
  max-width: 700px; /* Adjust as needed */
}

.error{
    color: red;
}
/* Container */
.custom-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

/* Hide default checkbox */
.custom-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider track */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 50px;
  transition: 0.4s;
    width: 40px;
  height: 15px;
}

/* Slider circle */
.slider::before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 3px;
  bottom: 2px;
  background-color: #e5ceac;
  border-radius: 50%;
  transition: 0.4s;
}

/* Checked styles */
.custom-switch input:checked + .slider {
  background-color:#795f73; /* bootstrap primary */
}

.custom-switch input:checked + .slider::before {
  transform: translateX(24px);
}


